@using RockstarsIT_BLL.Dto
@model IEnumerable<RockstarsIT.Models.SquadQuestionModeViewModel>


<h1>Squad Questions and Mode Answers</h1>

<table class="table">
    <thead>
        <tr>
            <th>Squad ID</th>
            <th>Squad Name</th>
            <th>Question ID</th>
            <th>Question Title</th>
            <th>Mode Answer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SquadId</td>
                <td>@item.SquadName</td>
                <td>@item.QuestionId</td>
                <td>@item.QuestionTitle</td>
                <td>@item.ModeAnswer</td>
            </tr>
        }
    </tbody>
</table>
