@model RockstarsIT.Models.FullSurveyViewModel

<h2>@Model.Title</h2>

<table>
    <thead>
        <tr>
            <th>Question</th>
            <th>Green</th>
            <th>Yellow</th>
            <th>Red</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Questions)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Answers.FindAll(a => a.Result == 2).Count</td>
                <td>@item.Answers.FindAll(a => a.Result == 1).Count</td>
                <td>@item.Answers.FindAll(a => a.Result == 0).Count</td>
            </tr>
        }
    </tbody>
</table>
