@model IEnumerable<SurveyViewModel>

@{
    ViewData["Title"] = "Enquête overzicht";
}

<link rel="stylesheet" href="~/css/Survey.css/Index.css" />


<h1>Enquête overzicht</h1>

<p>
    <a>Maak een nieuwe enquête aan</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" })
                    @*<a asp-action="Details" asp-route-id="@item.Id">Bekijken</a> |*@
                    @* <a asp-action="Edit" asp-route-id="@item.Id">Bewerken</a> | *@
                    @* <a asp-action="Delete" asp-route-id="@item.Id">Verwijderen</a> *@
                </td>
            </tr>
        }
    </tbody>
</table>
