@model IEnumerable<SurveyViewModel>

@{
    ViewData["Title"] = "Health check overzicht";
}

<link rel="stylesheet" href="~/css/Squads.css/Index.css" />
<div class="header-container">
    <h2>Health Checks</h2>
    <a asp-action="Create" class="button button-primary">TOEVOEGEN</a>
</div>
<div class="dropdown">
    <button class="button button-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
        @ViewBag.SelectedSquadName
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @if (ViewBag.Companies != null)
        {
            foreach (var squad in ViewBag.Squad)
            {
                <li>
                    <a class="dropdown-item text-black text-decoration-none" href="#" data-company-id="@squad.Id">@squad.Name</a>
                </li>
            }
        }
        else
        {
            <li><a class="dropdown-item" href="#">Geen Squads beschikbaar</a></li>
        }
    </ul>
</div>

<div class="grid">
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <div class="card">
                <a class="plus-button" asp-action="Edit" asp-route-id="@item.Id" aria-label="Add Item">+</a>
                <div class="card-header">
                    <h2>@item.Title</h2>
                </div>
                <div class="card-body">
                    <p>@item.Description</p>
                    <div class="actions">
                        <a asp-action="Details" asp-route-id="@item.Id" class="button button-primary btn-sm">Details</a>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="button button-secondary">Bewerken</a>
                    </div>
                </div>
            </div>
    }
    }
    else
    {
        <p>Geen health check gevonden.</p>
    }
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const dropdownItems = document.querySelectorAll('.dropdown-item');
        const dropdownButton = document.getElementById('dropdownMenuButton');

        dropdownItems.forEach(item => {
            item.addEventListener('click', function () {
                const squadId = this.getAttribute('data-squad-id');
                const squadName = this.textContent;

                // Werk de knoptekst bij
                dropdownButton.textContent = squadName;

                // Stuur de gebruiker door naar de gefilterde pagina
                window.location.href = `?squadId=${squadId}`;
            });
        });
    });
</script>
