@model IEnumerable<RockstarsIT.Models.Squads>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/Squads.css/Index.css" />
<h1>The Squads:</h1>

<p>
    <a asp-action="Create" class="btn btn-primary btn-lg">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            
            <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info btn-sm" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" }) 
            </td>
        </tr>
}
    </tbody>
</table>




@* @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-info btn-sm" }) |
@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-warning btn-sm" }) |
@Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger btn-sm" }) *@


@* <a asp-action="Edit" asp-route-id="@item.name">Edit</a> |
<a asp-action="Details" asp-route-id="@item.name">Details</a> |
<a asp-action="Delete" asp-route-id="@item.name">Delete</a> *@